<div class="col-lg-12 col-md-12">
  <div class="panel panel-default">
    <div class="panel-heading">
      <div class="row">
        <!--
        <div class="col-sm-3 hidden-xs">
          <i class="fa icon-hadoop fa-5x"></i>
          <div class="fa">{{multinodeData.service_type}} service</div>

        </div>-->
        <div class="col-sm-9" style="width:100%">
          <div class="multinode-name">{{multinodeData.clustername}}</div>
          <div class="pull-right">{{multinodeData.num_nodes}} nodes</div>
          <div class="pull-right">{{multinodeData.disk}} disks</div>
        </div>
      </div><!-- /.row -->
    </div><!-- /.panel-heading-->

    <div class="panel-footer">
      <button type="button" class="btn btn-info" ng-show="showDetails == 'false'" ng-click='toggleDetails()'>
        <i class="fa fa-info-circle"></i> Show Details
      </button>
      <button type="button" class="btn btn-info" ng-hide="showDetails == 'false'" ng-click='toggleDetails()'>
        <i class="fa fa-info-circle"></i> Hide Details
      </button>
      <button type="button" class="btn btn-danger pull-right" ng-click='removeCluster()'>
        <i class="fa fa-trash-o"></i> Destroy Cluster
      </button>
       <div class="clearfix"></div>
    </div><!-- /.panel-footer-->

    <div collapse="isCollapsed()">
      <!--<div class="cluster-name">{{multinodeData.service_full_name}}</div>-->
      <div class="table-responsive">
        <table class="table table-bordered table-striped">
          <thead>
            <tr>
              <th>Node</th>
              <th>IP</th>
              <th>CPUs</th>
              <th>Memory</th>
              <th>Num Disks</th>
              <th>Disks</th>
            </tr>
          </thead>
          <tbody>
            <tr ng-repeat="vm in multinodeData.vms">
              <td>{{vm.node_id}}</td>
              <td>{{vm.nodeIP}}</td>
              <td>{{vm.node_cpu}}</td>
              <td>{{vm.node_mem}} MB</td>
              <td>{{vm.node_disks}}</td>
              <td>{{vm.node_disks_list}}</td>
            </tr>
          </tbody>
        </table>
      </div><!-- /.table-responsive -->
    </div><!-- /.collapse -->
  </div><!-- /.panel-default -->
</div>
