<div class="panel panel-default">
  <div class="panel-body">
  
    <div class="row">
      
      <div class="col-sm-12">
      <div class="rule.rule" style="word-wrap: break-word;">{{ruleData.rule}}</div>
      </div><!-- div col-sm-10 -->
      <div class="col-sm-10"></div>
      <div class="col-sm-2" align="right">
	
      </div><!-- div col-sm-2 -->
      
    </div> <!-- div row -->

  </div> <!-- div panel-body -->
  
  <div class="panel-footer">
      <button type="button" class="btn btn-danger pull-right" ng-click='removeRule()'>
	  <i class="fa fa-trash-o"></i> Remove Rule
	</button>
       <div class="clearfix"></div>
  </div><!-- /.panel-footer-->
</div> <!-- div panel panel-default -->