
  <div class="panel panel-default">


    <md-card>
      <md-card-content style="background-image: url({{paasserviceData.image_url}}); background-repeat: no-repeat; background-position: right; " class="paaservice header layout-align-center-center layout-column" layout-align="center center" layout="column">
        <h3 style="font-size:1.8em">{{paasserviceData.name}}</h3>
      </md-card-content>
      <md-card-actions ng-repeat="version in paasserviceData.versions" layout="column" layout-align="end center">
        <p>{{version.version}}</p>
        <p>{{version.description}}</p>
        <md-button class="btn btn-success" ng-click='launchInstance($index)'>Launch</md-button>
      </md-card-actions>
    </md-card>

  </div><!-- /.panel-default -->

