/* app css stylesheet */

.ok {
  border-radius: 50%;
  display: inline-block;
  width: 25px;
  height: 25px;
  background: limegreen;
}
.start {
  border-radius: 50%;
  display: inline-block;
  width: 25px;
  height: 25px;
  background: orange;
 }

.warning {
  border-radius: 50%;
  display: inline-block;
  width: 40px;
  height: 40px;
  background: orange;
}
.error {
  border-radius: 50%;
  display: inline-block;
  width: 40px;
  height: 40px;
  background: red;
}
.menu {
  list-style: none;
  border-bottom: 0.1em solid black;
  margin-bottom: 2em;
  padding: 0 0 0.5em;
}
.cluster-name {
  font-size: 32px;
}
.cluster-details {
  font-size: 18px;
}

.menu:before {
  content: "[";
}

.menu:after {
  content: "]";
}

.menu > li {
  display: inline;
}

.menu > li:before {
  content: "|";
  padding-right: 0.3em;
}

.menu > li:nth-child(1):before {
  content: "";
  padding: 0;
}
