<div class="container-fluid">
  <div class="row">
    <div class="col-lg-12">
        <h1 class="page-header">SSH Keys</h1>
    </div><!-- div col-lg-12 -->
  </div><!-- div row -->

  
  <div class="row">
    <div class="col-lg-12">
        <div class="panel panel-default">
            <div class="panel-heading">
                <i class="fa fa-wrench fa-fw"></i> SSH Keys Management
            </div>
            <div class="panel-body">
	      <div class="row"> <!-- row(2) -->
		<div class="col-xs-11 panel">
		  <input type="text" placeholder="TODO" class="col-xs-12"></input> <!-- TODO -->
		</div> <!-- div col-xs-10 -->
		<div class="col-xs-1">
		  <button class="btn btn-success" ng-click="sshkeys.addKey()" type="button">
		    <i class="fa fa-plus"></i>Add Key
		  </button>
		</div> <!-- div col-xs-2 -->

	      </div> <!-- div row (2) -->
	      
              <sshkey ng-repeat="sshkey in sshkeys.sshKeys" sshkey-data="sshkey"/>
            </div> <!-- div panel-body -->
        </div><!-- div panel -->
      </div><!-- div col-lg-12 -->
</div><!-- div row --> 
