<md-card ng-hide="productData.loading">
  <img ng-src="{{productData.versions[0].logo_url}}" class="md-card-image" alt="{{productData.name}}">

  <!--
  <md-card-title>
    <md-card-title-text>
      <span class="md-headline">{{productData.name | uppercase}}</span>
    </md-card-title-text>
  </md-card-title>
  -->

  <md-card-content>
    <p>{{productData.versions[0].description}}</p>
  </md-card-content>

  <md-card-actions layout="row" layout-align="end center">

    <md-input-container style="margin-right: 10px;">
      <label>Version</label>
      <!-- <md-select ng-model="productData.selectedVersion" placeholder="Select a version"> -->
      <md-select ng-model="productData.selectedVersion" ng-model-options="{trackBy: '$value.version'}">
        <!--
        <md-option ng-repeat="version in productData.versions" ng-value="{{version}}" ng-attr-selected="{{$last}}" selected>{{version.version}}</md-option>
        -->
        <md-option ng-repeat="version in productData.versions" ng-value="{{version}}">{{version.version}}</md-option>
      </md-select>
    </md-input-container>

    <md-button class="btn btn-success" ng-click="launchInstance(productData.selectedVersion)">Launch</md-button>

  </md-card-actions>

</md-card>
