<div class="container-fluid">
  <div class="row">
    <div class="col-lg-12">
        <h1 class="page-header">Bigdata Services</h1>
    </div><!-- /.col-lg-12 -->
  </div>



  <div class="row">
    <div class="col-lg-12">
        <div class="panel panel-default">

            <div class="panel-heading">
                <i class="fa fa-server fa-fw"></i> Available Services
            </div>
            <div class="panel-body">


              <paasservice class="serviceRow" ng-repeat="product in bigdata_services.products" paasservice-data="product"/>
              
            </div>
        </div><!-- /.panel -->
      </div><!-- /.col-lg-12 -->
  </div><!-- /.row -->





 <div class="row">
    <div class="col-lg-12">
        <div class="panel panel-default">
            <div class="panel-heading">
                <i class="fa fa-server fa-fw"></i> Active Services
            </div>

            <div class="panel-body">
              <bigdatainstance class="serviceRow" ng-repeat="instance in bigdata_services.instances" bigdatainstance-data="instance" show-details="false" />
            </div>
        </div> 
        <!-- /.pael -->
       </div> 
      <!-- /.col-lg-12 -->
   </div> 
  <!-- /.row -->
