<div class="col-lg-12 col-md-12">
  <div class="panel panel-default">
    <div class="panel-heading">
      <div class="row">
        <div class="col-sm-3 hidden-xs">
          <i class="fa icon-hadoop fa-5x"></i>
        </div>
        <div class="col-sm-9">
          <div class="pull-right ok"></div>
          <div class="cluster-name">Cluster {{clusterData.name}}</div>
          <div class="cluster-details">ssh hadoop@{{clusterData.vms[0].ip}}</div>
          <div class="pull-right">{{clusterData.vms.length}} nodes</div>
        </div>
      </div><!-- /.row -->
    </div><!-- /.panel-heading-->

    <div class="panel-footer">
      <button type="button" class="btn btn-info" ng-click='toggleDetails()'>
        <i class="fa fa-info-circle"></i> Show Details
      </button>
      <button type="button" class="btn btn-danger pull-right">
        <i class="fa fa-trash-o"></i> Destroy Cluster
      </button>
       <div class="clearfix"></div>
    </div><!-- /.panel-footer-->

    <div collapse="isCollapsed()">
      <div class="table-responsive">
        <table class="table table-bordered table-striped">
          <thead>
            <tr>
              <th>VM ID</th>
              <th>Name</th>
              <th>Status</th>
              <th>IP</th>
              <th>CPU</th>
              <th>Mem</th>
              <th>Host</th>
              <th>Uptime</th>
            </tr>
          </thead>
          <tbody>
            <tr ng-repeat="vm in clusterData.vms">
              <td>{{vm.vmid}}</td>
              <td>{{vm.name}}</td>
              <td>{{vm.status}}</td>
              <td>{{vm.ip}}</td>
              <td>{{vm.ucpu}}</td>
              <td>{{vm.umem}}</td>
              <td>{{vm.host}}</td>
              <td>{{vm.time}}</td>
            </tr>
          </tbody>
        </table>
      </div><!-- /.table-responsive -->
    </div><!-- /.collapse -->
  </div><!-- /.panel-default -->
</div>
