<div class="container-fluid">
  <!-- HEADER -->
  <div class="row">
    <div class="col-lg-12">
        <h1 class="page-header">Launch New Cluster</h1>
    </div> <!-- div col-lg-12 -->
  </div> <!-- div row -->
  
  <!-- BODY -->
  <div class="row">
    <div class="panel panel-default">
      <div class="panel-heading">
	  <i class="fa fa-server fa-fw"></i> <b>{{wizardCluster.getBodyTitle()}}</b>
      </div>
      <div class="panel-body" style="height:300px;">
	<div name="initial-content-div" class="{{wizardCluster.isCollapsed(0)}}" align="center">
	  <table>
	    <tr>
	      <td>
		Number of slave nodes
	      </td>
	      <td>
		<input type="text" tooltip-placement="bottom" tooltip="The number of desired slave nodes (data nodes). Additionally, one master node will be always launched automatically." ng-model="wizardCluster.slaveNodesNum"/>
	      </td>
	    </tr>
	  </table>
	</div><!-- div initial-content-div -->
	<div name="advanced-content-div" class="{{wizardCluster.isCollapsed(1)}}" align="center">
	  <table>
	    <tr>
	      <td>
		HDFS Replicas
	      </td>
	      <td>
		<input type="text" tooltip-placement="bottom" tooltip="Default number of replicas for each block." ng-model="wizardCluster.hdfsReplicas" />
	      </td>
	    </tr>
	    <tr>
	      <td>
		HDFS Block Size
	      </td>
	      <td>
		<input type="text" tooltip-placement="bottom" tooltip="Default block size for new files, in MB." ng-model="wizardCluster.hdfsBlockSize"/>
	      </td>
	    </tr>
	    <tr>
	      <td>
		Reduce Tasks Numbers
	      </td>
	      <td>
		<input type="text" tooltip-placement="bottom" tooltip="Default number of reduce tasks." ng-model="wizardCluster.reduceTasksNum"/>
	      </td>
	    </tr>
	  </table>
	</div><!-- div advanced-content-div -->
	<div name="summary-content-div" class="{{wizardCluster.isCollapsed(2)}}" align="left">
	  <p>You are about to start the following Hadoop cluster:</p>
	  <table class="table table-bordered table-striped">
          <thead>
            <tr>
              <th>Parameter</th>
              <th>Value</th>
            </tr>
          </thead>
          <tbody>
            <tr>
	      <td>Number of slave nodes</td>
	      <td>{{wizardCluster.slaveNodesNum}}</td>
            </tr>
            <tr>
	      <td>Default HDFS Replicas</td>
	      <td>{{wizardCluster.hdfsReplicas}}</td>
            </tr>
            <tr>
	      <td>Default HDFS Block Size</td>
	      <td>{{wizardCluster.hdfsBlockSize}}</td>
            </tr>
            <tr>
	      <td>Default Number of Reduce Tasks</td>
	      <td>{{wizardCluster.reduceTasksNum}}</td>
            </tr>
          </tbody>
        </table>
	</div><!-- div advanced-content-div -->
      </div><!-- div panel-body -->
      
    </div><!-- div panel -->
  </div><!-- div row -->
  
  <!-- FOOTER -->
  <div class="row">
    <div class="col-xs-9"></div>
    <div class="col-xs-3">
      <button type="button" class="btn {{wizardCluster.getBackButtonType()}}" ng-click='wizardCluster.backButton()'>
	Back
      </button>
      <button type="button" class="btn {{wizardCluster.getNextButtonType()}}" ng-click='wizardCluster.nextButton()'>
	Next
      </button>
      <button type="button" class="btn {{wizardCluster.getLaunchButtonType()}}" ng-click='wizardCluster.launchButton()'>
	Launch
      </button>
    </div><!-- div col-xs-12 -->
    <div class="clearfix"></div>
  </div><!-- div row-->
  <div class="row"><br/></div>
  
</div> <!-- div container-fluid -->
